.header{
    background-color: antiquewhite;
}
.bread-cram{

background-color: aqua;

}

.content{

background-color: azure;

}


.content1{
background-color: aliceblue;

}


.sidebar{

    background-color: black;
}



.footer{

background-color: aquamarine;
}
