* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {

    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #db851e, transparent);
}


.round{
width: 100px;
height: 100px;
border-radius: 50%;
z-index: -1;

}

#left{
    
    background-color: YELLOWGREEN;
    position: relative;
    top: -293px;
    right: -55px;
}
#right{
    background-color: #a3841f;
    position: relative;
    top: 294px;
    right: 60px
}






.container {
    width: 65%;
    height: 75%;
    background-color: #0000001c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* padding: 15px 15px; */
    box-shadow: 0px 0px 10px 1px #000000c7;
    border-radius: 15px;
}

.content-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#box-right {

    background-color: antiquewhite;
    border-radius: 15px;


}

#box-right img {
    width: 465px;
    height: -webkit-fill-available;
}

#box-left {
    padding: 10px 10px;


}

.login-field {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;


}

#upper-field input {
    width: 300px;
    height: 50px;
    padding-left: 40px;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    border-radius: 108px;
    border: 1px solid #d5a887bf;

}


#upper-field h2 {
    font-size: 63px;
    color:#0b253e;
    font-weight: 900;
    font-family: monospace;
    text-decoration-line: underline;
}

#upper-field p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #284e73;
    font-family: monospace;
    text-decoration-line: underline;
}

#spn-1 {
   position: relative;
    left: -127px;
    top: 35px;

}


#spn-2 {

    position: relative;
    left: -127px;
    top: 35px;
    color: #a3841f;
}


.btn-link {
    width: 170px;
    height: 40px;
    border-radius: 108px;
    border: 1px solid #816614fc;
    font-size: 26px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: black;
}

#btn-1 {
    height: 55px;
    background-color: #fdd658de;
}




#spn-logo-1 {
    color: cadetblue;
    position: relative;
    position: relative;
    left: -18px;
    top: 1px;
}

#lower-field{

    width: 100%;
    height: 20%;
}



#btm-lgs {
    width: 34%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.link-gogos{
    font-size: xx-large;
    text-shadow: -4px 3px 5px #000000c2;
}

.link-gogos:hover{
    transform: translateY(-15px);
    transition: .5s;
    text-shadow: 0px 12px 8px black;
}

#boot{
    border-top: 3px solid black;
    margin-top: 5px;

}


#boot2{ 
font-size: 20px;
font-weight: 600;
color: brown;
text-decoration: underline;
}