* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}








.containr {
    width: 100vw;
    height: 100vh;
    background-color: lab(86 -12 -21.44);
    position: relative;
    display: flex;
    /* padding: 30px 30px; */
    align-items: center;
    justify-content: center;
}





.main-sec {
    width: 90%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    /* padding: 15px 20px; */
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;


}


.mid-box {
    width: 54%;
    height: 90%;
    /* background-color: #9ce7d170; */
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


}



#img-box{
    background-image: url(/assets/images/Data_security_05.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}





.upper-text{
    width: 90%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-family: math;
    align-content: space-between;
}



#layer-2{

    width: 90%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    font-family: monospace;
    font-size: large;
}




#login-box {
    width: 39%;
    height: 99%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
}



.log-in-1{
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

h1{
font-family: sans-serif;
font-weight: 700;
font-size: 38px;
}


p{
font-size: 16px;
top: -15px;
position: relative;
font-family: fangsong;
}

#header-se{
    width: 100%;
    height: 20%;

}






#btn2{
font-size: 22px;
width: 340px;
height: 50px;
border: 1px solid #aadfff;
background-color: white;
border-radius: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
#btn2:hover{
    transition: 1s;
    background-color: rgb(245 84 25 / 59%);
}






#btn{
    font-size: 22px;
    width: 340px;
    height: 50px;
    border: 1px solid #aadfff;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
 }
 #btn:hover{
    transition: .90s;
    background-color: #29bfcace;
    box-shadow: 0px 5px 8px 0px #00000045;
    transform: translateY(-9px);
    color: azure;
 } 



 button a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 80%;
}
 
#btn button a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
}

 

#btn:hover,a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);

 } 

 google-logo{
 width: 48px;
 height: 48px;
 position: relative;
 left: -11px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: center;
 z-index: 1;
 }


 img {

    width: 30px;
    height: 30px;
    position: relative;
    left: -1px;
    top: 4px;


}


.google-text{
 
    width: 277px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 9px;
}





 #input_sec input {
    padding: 5px;
    margin: 3px;
    font-size: 20px;
    width: 341px;
    height: 45px;
    border: 1px solid#ffca5ade;
    border-radius: 5px;
}



#input_sec h4 {
    font-size: 28px;
    position: relative;
    left: -114px;
    font-family: math;
    left: 0px;
}



 span a{
    text-decoration: none;
    position: relative;
    top: -24px;
    font-size: 19px;
    color:rgb(41, 207, 219);
 }


 span a:hover{
    color: rgb(202, 102, 56);
 }





#foot{
    position: relative;
}