* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.head {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sec-1 h1 {
    font-size: 55px;

}

.hd-sec {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sec-1 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}






#text-imp {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #2a2a2a2e;
    border-radius: 15px;

}



#locat a {
    font-size: xx-large;
    text-decoration: none;
    color: brown;
}



#text-imp-1 {
    width: 39%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 13px;
}

#drpdwn a {
    font-size: xx-large;
    text-decoration: none;
    color: rgba(17, 5, 5, 0.74);
}


#srch a {
    font-size: xx-large;
    text-decoration: none;
    color: rgba(17, 5, 5, 0.74);
}

#text-imp-2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid #00000040;
    flex-direction: row;

}




.inp-box {
    padding: 6px 13px;
    width: 84%;
    height: 89%;
    border: transparent;
    outline: none;
    font-size: 21px;
}





.sec-1 span a {

    text-decoration: none;
    font-size: xx-large;
    color: black;

}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #edefeead;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
}

/* .circle:hover{
background: #545454bf;
}

#hd-2 a:hover{
color: rgb(240, 240, 240);
} */


.circl-raper {
    Width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


.circl-raper:hover{
transition: .12s;
border-bottom: 2px solid #c11313;
}



#hd-2 {
    justify-content: flex-start;
    padding-left: 189px;
    height: 66%;
}

#hd-2 a {

    font-size: 23px;
    text-decoration: none;
    color: #363535;

}




.main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0px 168px;
    background-color: #f9f9f9e0;
}


#main-top{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  
}







.main-top1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;


}


#main-t2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}


#main-t2 span a{
    text-decoration: none;
    color: #c11313;
}


#main-t2 span a:hover{
color: #782d2d;
}

.main-top1 h3{
font-size: 35px;
}

.main-top1 P{
    font-size: 15px;
}







#main-bot {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}


.main-box {
    width: 23%;
    height: 97%;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #38383873;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}


#main-box-1{

}

#main-box-1{

}

#main-box-1{

}

#main-box-1{
    
}
